@charset "UTF-8";




*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: white;
    --cor1: #264156;
    --cor2: #4e81a8;
    --cor3: #6f91aa;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h2{
    padding: 5px;
    color: var(--cor0);
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), transparent);
}

h3{
    margin: 5px;
}

header{
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor0);
    padding: 10px;
}
header > h1{
    color: var(--cor0);
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
nav{
    color: var(--cor0);
    margin-top: 20px;
    text-align: left;
    padding: 4px;
}

nav> a {
    color: var(--cor3);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

a:visited {
    color: #6f91aa;
    text-decoration: none;
}

nav> a:hover  {
    background-color: var(--cor2);
    color: var(--COR5);
}



a{
    color: var(--cor2);
    text-decoration: none;

}


a:hover {
    color: var(--cor1);
}

.item{
    margin: 15px;
}
.menu{
    text-align: justify;  

}
.menu > p {
    text-indent: 10px;
    
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    }

main > p {
    text-indent: 30px;
    
}

article{
    background-color: rgb(207, 207, 207);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
article > p {
    text-indent: 30px;
    margin-top: 5px;
}
footer{
    margin: 10px;
    text-align: center;
    background-color: var(--cor1);
    color: white;
    font-size: bold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    font-weight: 1.2em;
}
footer > p > a:hover {
    color: white;
    
    

}